<% label = 'redmine_append_users_display_format_label_' -%>
<%
def redmine_append_users_display_format_wrapper_text_field_tag label, setting_name
  s = ""
  s << "    <tr>\n"
  s << "      <td>\n"
  s << "        #{h t label + setting_name}\n"
  s << "      </td>\n"
  s << "      <td>\n"
  s << "        #{text_field_tag("settings[#{setting_name}]", @settings[setting_name])}\n"
  s << "      </td>\n"
  s << "    </tr>\n"
  s.html_safe
end
-%>

<p>
  <table>

<% setting_name = 'users_custom_fields_name_of_affiliation' -%>
<%= redmine_append_users_display_format_wrapper_text_field_tag label, setting_name -%>

<% setting_name = 'string_before_login' -%>
<%= redmine_append_users_display_format_wrapper_text_field_tag label, setting_name -%>

<% setting_name = 'string_after_login' -%>
<%= redmine_append_users_display_format_wrapper_text_field_tag label, setting_name -%>

<% setting_name = 'string_before_affiliation' -%>
<%= redmine_append_users_display_format_wrapper_text_field_tag label, setting_name -%>

<% setting_name = 'string_after_affiliation' -%>
<%= redmine_append_users_display_format_wrapper_text_field_tag label, setting_name -%>

<% setting_name = 'string_before_abbreviated_firstname' -%>
<%= redmine_append_users_display_format_wrapper_text_field_tag label, setting_name -%>

<% setting_name = 'string_after_abbreviated_firstname' -%>
<%= redmine_append_users_display_format_wrapper_text_field_tag label, setting_name -%>

<% setting_name = 'independent_affiliation' -%>
<%= redmine_append_users_display_format_wrapper_text_field_tag label, setting_name -%>

  </table>
</p>
